---
- name: Create Prometheus storage directories
  hosts: all
  become: true

  tasks:
    - name: Create Prometheus directory structure
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
      loop:
        - /opt/torrust/storage/prometheus/etc
